<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student</h1>
    <form th:action="@{/saveStudent}" th:object="${student}" method="post">
        <label>First Name:</label>
        <input type="text" th:field="*{firstName}" /><br/>
        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}" /><br/>
        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br/>
        <button type="submit">Update</button>
    </form>
</body>
</html>
